<!-- Income -->
    <div class="container incLeft" id="currIncDiv" style="height: 300px; width: 550px;">
        <div class="container row">
            <div class="col-10">
                <label for="current-income">
                    <h4 id="currIncLabel">Income</h4>
                </label>
                <input type="number" class="form-control" id="currInc">
            </div>
            <div class="col-2">
                <button type="button" id="currIncButton" class="btn btn-light">Submit</button>
            </div>
        </div>
        <div class="container row">
            <div class="col-12">
                <button type="button" id="addNewInc" class="btn btn-light">Add New Income</button>
            </div>
        </div>
    </div>

    <!-- Percentages -->
    <div class="container perRight" id="perDiv" style="height: 300px; width: 550px;">
        <div class="container row">
            <div class="col-10">
                <label for="percentages">
                    <h4 id="perLabel">Percentages</h4>
                </label>
                <input type="number" class="form-control" id="percentages">
            </div>
            <div class="col-2">
                <button type="button" id="perButton" class="btn btn-light">Submit</button>
            </div>
        </div>
        <div class="container row">
            <div class="col-12">
                <button type="button" id="addNewPer" class="btn btn-light">Add New Percentage</button>
            </div>
        </div>
    </div>

    <br>

    <!-- Bills -->
    <div class="container billCentre" id="billDiv" style="height: 250px;">
        <div class="container row">
            <div class="col-10">
                <label for="bills">
                    <h4 id="billLabel">Bills</h4>
                </label>
                <input type="number" class="form-control" id="bills">
            </div>
            <div class="col-2">
                <button type="button" id="billButton" class="btn btn-light">Submit</button>
            </div>
        </div>
        <div class="container row">
            <div class="col-12">
                <button type="button" id="addNewBill" class="btn btn-light">Add New Bill</button>
            </div>
        </div>
    </div>