<div class="container" id="inputPB">
    <!-- Income -->
    <br>
    <div class="row">
        <div class="col">
            <h2>Add Your Current Income</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label>Income Amount</label><br />
            <input type="number" />
            <br><br>
            <label>Income Source</label><br />
            <input type="text" />
            <br>
            <br>
            <h5>Have another source of income?</h5>
            <button type="button" class="btn btn-white">Add it here</button>
        </div>
    </div>
    <br>
    <br>
    <!-- Percentages -->
    <div class="row">
        <div class="col">
            <h2>Add A Percentage</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label>Percentage</label><br />
            <input type="number" />
            <br><br>
            <label>Percentage Source</label><br />
            <input type="text" />
            <br>
            <br>
            <h5>Have another percentage?</h5>
            <button type="button" class="btn btn-white">Add it here</button>
        </div>
    </div>
    <br>
    <br>
    <!-- Bills -->
    <div class="row">
        <div class="col">
            <h2>Add A Bill</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label>Bill Amount</label><br />
            <input type="number" />
            <br><br>
            <label>Bill Source</label><br />
            <input type="text" />
            <br>
            <br>
            <h5>Have another bill?</h5>
            <button type="button" class="btn btn-white">Add it here</button>
        </div>
    </div>
    <br>
    <br>
</div>