<div class="container" id="inputPB" >
       <!-- Bills -->
       <br>
       <div class="row">
           <div class="col">
               <h2>Add Your Bills</h2>
           </div>
       </div>
       <div class="row">
           <div class="col">
               <label>Bill Amount</label><br />
               <input type="number" id="inputBillAmount"/>
               <br><br>
               <label>Bill Source</label><br />
               <input type="text" id="inputBillSource"/>
               <br>
               <br>
               <h5>Have another bill?</h5>
               <button type="button" class="btn btn-white" id="submitBill">Add it here</button>
           </div>
       </div>
       <br>
       <br>
   </div>


<h3>Bills:</h3>
<ul id="bills-list" class="list-group">
  {{#each bill}}
  <li data-id="{{this.id}}" class="list-group-item">
    {{source}}
    {{amount}}
    <button class="btn btn-danger float-right delete">ｘ</button>
  </li>
  {{/each}}
</ul>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/js/bills.js"></script>