<div class="header">
    <div class="homelogo" style= "text-align: center;">
    <img src="/img/pocketbooklogo.png" style="height: 150px;">
  </div>
</div>

<br>

<div class="dashcontain">

    <div class="dashleft">
        
    <div class="monthselect">
        <h1>October</h1>
    </div>

    <br>

    <div class="chart">
        <h1>Chart</h1>
    </div>

    </div>

    <div class="chartdata">

    <div class="datahead">
        <h1>Data</h1>
    </div>

    <br>
    
    <div class="datainfo">
        <h1>Data info</h1>
    </div>

    </div>

    <div class="optionstab">

              <a href = "/income"><button type="button" class="btn btn-light">Data Display</button></a>
    

    </div>

</div>
