<div class="container" id="inputPB" >
        <!-- Income -->
        <br>
        <div class="row">
            <div class="col">
                <h2>Add Your Current Income</h2>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label>Income Amount</label><br />
                <input type="number" />
                <br><br>
                <label>Income Source</label><br />
                <input type="text" />
                <br>
                <br>
                <h5>Have another source of income?</h5>
                <button type="button" class="btn btn-white">Add it here</button>
            </div>
        </div>
        <br>
        <br>
    </div>
