    <a href="/dashboard">
    <img src="/img/pocketbooklogo.png" style="height: 140px;">
    </a>

  {{!-- <h1>add homebutton please!! --pocketbook logo interactive button--</h1> --}}
  
  
<div class="container" id="inputPB">
  <!-- Income -->
  <br>
  <div class="row">
    <div class="col">
      <h2>Add Your Current Income</h2>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <label>Income Amount</label><br />
      <input type="number" id="inputIncomeAmount" />
      <br><br>
      <label>Income Source</label><br />
      <input type="text" id="inputIncomeSource" />
      <br>
      <br>
      <h5>Have another source of income?</h5>
      <button type="button" class="btn btn-white" id="submitIncome">Add it here</button>
    </div>
  </div>
  <br>
  <br>
</div>

<br><br>

<div class="container">
<h3>Income:</h3>
<ul id="income-list" class="list-group">
  {{#each income}}
  <li data-id="{{this.id}}" class="list-group-item income-item">
    {{source}}
    {{amount}}
    <button class="btn btn-danger float-right delete">ｘ</button>
  </li>
  {{/each}}
</ul>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/data.js"></script>
</div>