<div class="home">

  <div class="indexleft">

    <div class="homelogo" style="text-align: center;">
      <img src="/img/pocketbooklogo.png">
    </div>

    <div class="userinfo" style="margin: 0 auto;">
      <form id="signin" name="signin" method="post" action="/">
        <div class="login" style="text-align: center;">
          <p>Login</p>
        </div>

        <p>Email :</p>
        <div class="input-group mb-3">
          <input type="text" class="form-control" aria-label="Recipient's username" aria-describedby="button-addon2"
            name="email">
        </div>

        <br>

        <p>Password :</p>
        <div class="input-group mb-3">
          <input type="text" class="form-control" aria-label="Recipient's username" aria-describedby="button-addon2"
            name="password">
        </div>

        <br>

        <div class="login" style="text-align: center;">
          <button id="submit" type="submit" class="btn btn-light">Sign In</button>
        </div>
      </form>
    </div>

    <br>

    <div class="signup" style="text-align: center;">

      <p>Not already a member?</p>

      <button type="button" class="btn btn-light">Signup</button>

    </div>

  </div>

  <div class="indexright">

    <div class="rightimg">


      <img src="/img/INDEXRIGHT.jpg" style="height: 800px; width: 1142px;">
    </div>



  </div>

</div>
</div>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>