<div class="home">

  <div class="indexleft">

    <div class="homelogo" style="text-align: center;">
      <img src="/img/pocketbooklogo.png">
    </div>

    <div class="userinfo" style="margin: 0 auto;">
      <form id="signin" name="signin" method="post" action="/">
        <div class="login" style="text-align: center;">
          <p>Login</p>
        </div>

        <p>Email :</p>
        <div class="input-group mb-3">
          <input type="text" class="form-control" aria-label="Recipient's username" aria-describedby="button-addon2"
            name="email">
        </div>

        <br>

        <div class="form-group">
          <label>Password</label>
          <div class="input-group" id="show_hide_password">
            <input type="password" class="form-control" placeholder="User's password" id="myInput" aria-label="Users's password">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button" id="button-addon2"><i class="fa fa-eye-slash" aria-hidden="false"></i></button>
            </div>
          </div>
        </div>



        <br><br>

        <div class="login" style="text-align: center;">
          <button id="submit" type="submit" class="btn btn-light">Sign In</button>
        </div>
      </form>
    </div>

    <br>

    <div class="signup" style="text-align: center;">

      <p>Not already a member?</p>

      <a href = "/signup"><button type="button" class="btn btn-light">Signup</button></a>

    </div>

  </div>

  <div class="indexright">

    <div class="rightimg">

      <img src="/img/INDEXRIGHT.jpg" style="height: 800px; width: 1142px;">

    </div>



  </div>

</div>
</div>

