<div class="container" id="inputPB" >
        <br>
        <!-- Percentages -->
        <div class="row">
            <div class="col">
                <h2>Add A Percentage</h2>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label>Percentage</label><br />
                <input type="number" />
                <br><br>
                <label>Percentage Source</label><br />
                <input type="text" />
                <br>
                <br>
                <h5>Have another percentage?</h5>
                <button type="button" class="btn btn-white">Add it here</button>
            </div>
        </div>
        <br>
        <br>
    </div>