.indexleft {
  width: 40%;
  background-color: #0c53a9;
  float: left;
}

.homelogo {
  padding: 30px;
}

.userinfo{
  border-style: solid;
  border-width: 5px;
  border-radius: 25px;
  border-color: white;
  color: white;
  padding: 60px;
  width: 50%;
}

.login {
  font-family: "Prague";
  color: white;
  font-size: 32px;
  padding-bottom: 20px;
}

.signup {
  padding: 66px;
  color: white;
}

.indexright {
  float: right;
  width: 60%;
  padding-left: 10px;
}

.header {
  height: 180px;
  background-color: #0c53a9;
}

.homelogo {
}

.profileicon {
  padding-top: 90px;
  float: right;
}

.welcome {
  font-family: "Prague";
  padding-top: 20px;
  padding-right: 30px;
}

.dashcontain {
  padding-bottom: 20px;
  padding-left: 20px;
}

.dashleft {
  padding-top: 40px;
  padding-left: 40px;
  padding-bottom: 40px;
  float: left;
  width: 55%;
  height: 900px;
}

.monthselect {
  border-style: solid;
  border-width: 20px;
  border-color: #0c53a9;
  font-family: "Prague";
  color: white;
  background-color: #0c53a9;
}

.chart {
  padding: 40px;
  height: 750px;
  background-color: white;
  border-style: solid;
  border-top: none;
  border-width: 20px;
  border-color: #0c53a9;
}

.chartdata {
  padding-top: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  width: 35%;
  float: left;
  height: 900px;
}

.datahead {
  border-style: solid;
  border-width: 20px;
  border-color: #0c53a9;
  font-family: "Prague";
  color: white;
  background-color: #0c53a9;
}

.datainfo {
  height: 750px;
  background-color: white;
  border-style: solid;
  border-top: none;
  border-left: none;
  border-width: 20px;
  border-color: #0c53a9;
}

.optionstab {
  font-family: "Prague";
  font-size: 20px;
  color: #0c53a9;
  border-style: solid;
  border-width: 5px;
  border-color: #0c53a9;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 16px;
  float: right;
  width: 8%;
  height: 870px;
  background-color: white;
}

.billsicon {
  padding-right: 10px;
}
