
.indexleft {
  width: 40%;
  background-color: #0c53a9;
  float: left;
}

.homelogo {
  padding: 30px;
}

.userinfo{
  border-style: solid;
  border-width: 5px;
  border-radius: 25px;
  border-color: white;
  color: white;
  padding: 60px;
  width: 50%;
}

.login {
  font-family: "Prague";
  color: white;
  font-size: 32px;
  padding-bottom: 20px;
}

.signup {
  padding: 66px;
  color: white;
}

.indexright {
  float: right;
  width: 60%;
  padding-left: 10px;
}

.header {
  height: 200px;
  background-color: #0c53a9;
}

.dashcontain {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}

.dashleft {
  padding: 40px;
  float: left;
  width: 50%;
  height: 900px;
  background-color: #0c53a9
}

.monthselect {
  background-color: white;
}

.chart {
  height: 750px;
  background-color: white;
}

.chartdata {
  padding: 40px;
  width: 30%;
  float: left;
  background-color: #0c54a9;
  height: 900px;
}

.datahead {
  background-color: white;
}

.datainfo {
  height: 750px;
  background-color: white;
}

.optionstab {
  border-style: solid;
  border-width: 30px;
  border-color: #0c53a9;
  padding: 20px;
  float: right;
  width: 10%;
  height: 900px;
  background-color: white;
  background: linear-gradient(139deg, #fb8817, #ff4b01, #c12127, #e02aff);
}
/* 
#myInput {
  border-style: solid;
  border-width: 5px;
  border-radius: 25px;
  border-color: white;
  color: white;
  padding: 6px, 12px;
  width: 100%;
  z-index:1.1000;
} */
